# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules
.npm
.next
.now

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
/*.tgz

# keys.json file
.keys/key.json

# macOS
.DS_Store

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# next-pwa
public/sw.js
public/workbox-*.js

# dashboard
tools/dashboard/output.sql

# coverage
coverage

# plagiarism solutions
tools/plagiarism/solutions.json
tools/plagiarism/output.txt

# devops
.terraform

# main-vm
packer_cache
output-virtualbox-iso