# edit/view via webroser on: https://editor.swagger.io/
swagger: '2.0'
info:
  description: >-
    This is the documentation for the correctly APIs.
  version: 0.1.0
  title: Correctly
host: praxisprojekt.cf
tags:
  - name: authentication
    description: Everything regarding authentication
  - name: courses
    description: Everything regarding courses
schemes:
  - https
  - http
paths:
  /api/auth/csv/login:
    post:
      tags:
        - authentication
      summary: Login via the csv authentication service.
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            required:
              - email
              - password
            properties:
              email:
                type: string
                example: johndoe@fs-students.de
              password:
                type: string
                example: safepassword
      responses:
        '200':
          description: successful request
        '403':
          description: invalid credentials
  /api/auth/firebase/login:
    post:
      tags:
        - authentication
      summary: Login via the firebase authentication service.
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            required:
              - token
            properties:
              token:
                type: object
                example: <Firebase Token (JWT)>
      responses:
        '200':
          description: successful request
        '403':
          description: invalid credentials
  /api/auth/firebase/register:
    post:
      tags:
        - authentication
      summary: Register via the firebase authentication service.
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            required:
              - token
              - firstName
              - lastName
              - studentId
            properties:
              token:
                type: object
                example: <Firebase Token (JWT)>
              firstName:
                type: string
                example: John
              lastName:
                type: string
                example: Doe
              studentId:
                type: number
                example: "1234567"
      responses:
        '200':
          description: successful request
        '403':
          description: invalid credentials
  /api/courses:
    post:
      tags:
        - courses
      summary: Create a new course
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            required:
              - title
              - yearCode
            properties:
              title:
                type: string
                example: Analytics & Big Data
              yearCode:
                type: string
                example: B-2017
              attendees:
                type: array
                example: array of lecturer and all participants
      responses:
        '200':
          description: successful request
        '403':
          description: invalid credentials
    put:
      tags:
        - courses
      summary: Change a course
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            required:
              - title
              - yearCode
            properties:
              title:
                type: string
                example: Analytics & Big Data
              yearCode:
                type: string
                example: B-2017
              attendees:
                type: array
                example: the new array of lecturer and all participants
      responses:
        '200':
          description: successful request
        '403':
          description: invalid credentials
    get:
      tags:
        - courses
      summary: return all courses
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: successful request
        '403':
          description: invalid credentials
  /api/courses/<id>:
    get:
      tags:
        - courses
      summary: return the course with a specific id.
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: successful request
        '403':
          description: invalid credentials