:root {
    --ion-color-fs_light_grey: #666666;
    --ion-color-fs_light_grey-rgb: 102,102,102;
    --ion-color-fs_light_grey-contrast: #ffffff;
    --ion-color-fs_light_grey-contrast-rgb: 255,255,255;
    --ion-color-fs_light_grey-shade: #5a5a5a;
    --ion-color-fs_light_grey-tint: #757575;
  }
  
  .ion-color-fs_light_grey {
    --ion-color-base: var(--ion-color-fs_light_grey);
    --ion-color-base-rgb: var(--ion-color-fs_light_grey-rgb);
    --ion-color-contrast: var(--ion-color-fs_light_grey-contrast);
    --ion-color-contrast-rgb: var(--ion-color-fs_light_grey-contrast-rgb);
    --ion-color-shade: var(--ion-color-fs_light_grey-shade);
    --ion-color-tint: var(--ion-color-fs_light_grey-tint);
  }