.expandableBody {
  transition: height 0.5s ease-out;
}

.expandableHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.expandableComponent{
    width: 100%;
}

.expandableContentContainer{
    padding-top: 15px;
    padding-bottom: 15px;
}

.expandableContent{
    background-color: whitesmoke;
    padding: 10px;
}

