.expandableBody {
  transition: height 0.5s ease-out;
}

.expandableHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.expandableComponent{
    width: 100%;
}

.expandableContent{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: whitesmoke;
    padding: 10px;
}

