:root {
  --ion-color-correctly-white: #FFFFFF;
  --ion-color-correctly-white-rgb: 255,255,255;
  --ion-color-correctly-white-contrast: #000000;
  --ion-color-correctly-white-contrast-rgb: 0,0,0;
  --ion-color-correctly-white-shade: #e0e0e0;
  --ion-color-correctly-white-tint: #ffffff;
}

.ion-color-correctly-white {
  --ion-color-base: var(--ion-color-correctly-white);
  --ion-color-base-rgb: var(--ion-color-correctly-white-rgb);
  --ion-color-contrast: var(--ion-color-correctly-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-correctly-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-correctly-white-shade);
  --ion-color-tint: var(--ion-color-correctly-white-tint);
}

:root {
  --ion-color-fs-blue: #333366;
  --ion-color-fs-blue-rgb: 51,51,102;
  --ion-color-fs-blue-contrast: #ffffff;
  --ion-color-fs-blue-contrast-rgb: 255,255,255;
  --ion-color-fs-blue-shade: #2d2d5a;
  --ion-color-fs-blue-tint: #474775;
}

.ion-color-fs-blue {
  --ion-color-base: var(--ion-color-fs-blue);
  --ion-color-base-rgb: var(--ion-color-fs-blue-rgb);
  --ion-color-contrast: var(--ion-color-fs-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fs-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-fs-blue-shade);
  --ion-color-tint: var(--ion-color-fs-blue-tint);
}

:root {
  --ion-color-fs-green: #72993E;
  --ion-color-fs-green-rgb: 114,153,62;
  --ion-color-fs-green-contrast: #000000;
  --ion-color-fs-green-contrast-rgb: 0,0,0;
  --ion-color-fs-green-shade: #648737;
  --ion-color-fs-green-tint: #80a351;
}

.ion-color-fs-green {
  --ion-color-base: var(--ion-color-fs-green);
  --ion-color-base-rgb: var(--ion-color-fs-green-rgb);
  --ion-color-contrast: var(--ion-color-fs-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fs-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-fs-green-shade);
  --ion-color-tint: var(--ion-color-fs-green-tint);
}

:root {
  --ion-color-fs-dark-grey: #373A3C;
  --ion-color-fs-dark-grey-rgb: 55,58,60;
  --ion-color-fs-dark-grey-contrast: #ffffff;
  --ion-color-fs-dark-grey-contrast-rgb: 255,255,255;
  --ion-color-fs-dark-grey-shade: #303335;
  --ion-color-fs-dark-grey-tint: #4b4e50;
}

.ion-color-fs-dark-grey {
  --ion-color-base: var(--ion-color-fs-dark-grey);
  --ion-color-base-rgb: var(--ion-color-fs-dark-grey-rgb);
  --ion-color-contrast: var(--ion-color-fs-dark-grey-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fs-dark-grey-contrast-rgb);
  --ion-color-shade: var(--ion-color-fs-dark-grey-shade);
  --ion-color-tint: var(--ion-color-fs-dark-grey-tint);
}

:root {
  --ion-color-fs-light-grey: #666666;
  --ion-color-fs-light-grey-rgb: 102,102,102;
  --ion-color-fs-light-grey-contrast: #ffffff;
  --ion-color-fs-light-grey-contrast-rgb: 255,255,255;
  --ion-color-fs-light-grey-shade: #5a5a5a;
  --ion-color-fs-light-grey-tint: #757575;
}

.ion-color-fs-light-grey {
  --ion-color-base: var(--ion-color-fs-light-grey);
  --ion-color-base-rgb: var(--ion-color-fs-light-grey-rgb);
  --ion-color-contrast: var(--ion-color-fs-light-grey-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fs-light-grey-contrast-rgb);
  --ion-color-shade: var(--ion-color-fs-light-grey-shade);
  --ion-color-tint: var(--ion-color-fs-light-grey-tint);
}

:root {
  --ion-color-correctly-light-grey: #F4F4F4;
  --ion-color-correctly-light-grey-rgb: 244,244,244;
  --ion-color-correctly-light-grey-contrast: #000000;
  --ion-color-correctly-light-grey-contrast-rgb: 0,0,0;
  --ion-color-correctly-light-grey-shade: #d7d7d7;
  --ion-color-correctly-light-grey-tint: #f5f5f5;
}

.ion-color-correctly-light-grey {
  --ion-color-base: var(--ion-color-correctly-light-grey);
  --ion-color-base-rgb: var(--ion-color-correctly-light-grey-rgb);
  --ion-color-contrast: var(--ion-color-correctly-light-grey-contrast);
  --ion-color-contrast-rgb: var(--ion-color-correctly-light-grey-contrast-rgb);
  --ion-color-shade: var(--ion-color-correctly-light-grey-shade);
  --ion-color-tint: var(--ion-color-correctly-light-grey-tint);
}